.info {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.info-container {
    display: flex;
}

.info-container .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.nav-info {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.menu-info {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.menu-info-pynkt {
    padding: 24px 0 24px;
}

.logo-ulstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-ulstudio:hover,
.logo-ulstudio:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.hea-address {
    font-style: normal;
}

.address-ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    width: 344px;
    height: 24px;
    margin-left: 332px;
    margin-top: 24px;
    margin-right: 162px;
    margin-bottom: 24px;
}

.link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover,
.link-address:focus {
    color: #404bbf;
}